<template>

    <div class="booj-books" v-if="userID">

        <div class="main-content">
            <header>
                <div class="header">
                    <div class="row">
                        <div class="col col-sm-12 col-4">
                            <logo></logo>
                            <reading-list></reading-list>
                        </div>
                        <div class="col col-sm-12 col-8 align-right">
                            <search-form></search-form>
                        </div>
                    </div>
                </div>
            </header>

            <div class="content">
                <router-view/>
            </div>
        </div>

        <footer>
            <div class="footer">
                Booj Books &copy; {{new Date().getFullYear()}}
            </div>
        </footer>
	</div>
    <div class="loading" v-else="">
        Loading User
    </div>

</template>

<script>
    import logo from '@/components/logo';
    import searchForm from '@/components/search-form';
    import readingList from '@/components/reading-list';
    import axios from "axios";
	export default {
        components:{
            logo,
            searchForm,
            readingList
        },
		data() {
			return {
				name:'app.vue',
			}
		},
		computed: {
            userID() {
                return this.$store.getters.userID;
            },
            myReadingList() {
                return this.$store.getters.readingList;
            }
        },
		mounted() {
            let csrfToken = document.querySelector('meta[name="csrf-token"]');
            if(csrfToken && csrfToken.content){
                axios.defaults.headers.common = {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRF-TOKEN': csrfToken.content
                };
            }

            this.getUserID();
		},
		methods: {
            setCookie(cookieID){
                let secure = process.env.NODE_ENV === 'development' ? 0 : 1;
                let date = new Date();
                date.setDate(date.getDate() + 364);
                this.axios.defaults.headers.common['x-authorization'] = cookieID;
                this.$cookies.set('userID', cookieID, {
                    secure: secure,
                    expires: date,
                    path:'/'
                });

                this.$cookies.set('userID',cookieID);
                this.$store.commit('userID', cookieID);
            },
            getUserID(){
                let cookieID = this.$cookies.get('userID');
                if(this.userID){
                    return;
                } else if(!this.userID && cookieID){

                    this.setCookie(cookieID);

                    this.axios.get(process.env.VUE_APP_API_ENDPOINT + 'booklist')
                        .then(response => {
                            this.$store.commit('readingList', response);
                        })
                        .catch(err => {
                            console.log(err);
                        });

                    return false;
                }
                this.axios.get(process.env.VUE_APP_API_ENDPOINT + 'get-user-id')
                  .then(response => {
                      this.setCookie(response.userID);
                      //    axios.defaults.headers.common['x-authorization'] = response.userID;
                      //    this.$cookies.set('userID',response.userID);
                      //    this.$store.commit('userID', response.userID);
                  })
                  .catch(err => {
                      console.log(err);
                  });
            }
        },
		watch: {}
	}
</script>
