.row{

    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -$layoutSpacing;
    margin-right: -$layoutSpacing;

    .col{
        flex: 1;
        max-width: 100%;
        padding-left: $layoutSpacing;
        padding-right: $layoutSpacing;
    }


    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1,
    .col-auto {
        flex: none;
    }

    @include columns('col');

    @include screens(xl) {
        @include columns('col-xl');
        .col-xl-hide{
            display: none;
        }
    }
    @include screens(lg) {
        @include columns('col-lg');
        .col-lg-hide{
            display: none;
        }
    }
    @include screens(md) {
        @include columns('col-md');
        .col-md-hide{
            display: none;
        }
    }
    @include screens(sm) {
        @include columns('col-sm');
        .col-sm-hide{
            display: none;
        }
    }
    @include screens(xs) {
        @include columns('col-xs');
        .col-xs-hide{
            display: none;
        }
    }
}

