$basePadding: .5rem;
$baseInputSize: 1rem;

label{
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: .3rem;
    display: block;
    .input-message{
        font-weight: normal;
    }
    + input{

    }
}
textarea{
    min-height: 6rem;
}
input, textarea, div.input{
    display: block;
    width: 100%;
    padding: $basePadding;
    font-size: $baseInputSize;
    line-height: 1.2;
    outline: none;
    border: solid 1px rgba($baseColor, .3);
    box-shadow: 0 0 0 0.3rem rgba(#000,.05);


    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: rgba($baseColor, .7);
    background: #efefef;

    &::placeholder{
        color:rgba($baseColor, .4);
    }

    &:focus{
        position: relative;
        color:$baseColor;
        border-color:transparent;
        box-shadow: 0 0 0 0.3rem rgba(#000,.2);
    }
    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &[type="color"]{
        min-height: 2.5rem
    }


}

select{
    display: inline-block;
    height: 2.25rem;
    padding: $basePadding;
    font-size: $baseInputSize;
    line-height: $baseInputSize;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: rgba($baseColor, .7);
    background: #fff;
    border: solid 1px rgba($baseColor, .3);
    box-shadow: 0 0 0 0.3rem rgba(#000,.05);

}

button, .button {
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    outline: none;
    border-radius: 5px;
    color: rgba($baseColor, .6);
    background: #fff;
    text-align: center;
    border: solid 1px rgba($baseColor, .3);
    box-shadow: 0 0 0 0.3rem rgba(#000,.05);

    &.block{
        display: block;
        width: 100%;
    }


    &:disabled {
        border: solid 1px rgba($baseColor, .2);
        cursor: not-allowed;
        position: relative;

        &:after {
            border-radius: inherit;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: .5;
            content: '';
            left: 0;
            top: 0;
        }
    }

    &:active, &.active {
        color: $baseColor;
        transition: all;
        transition-timing-function: ease-out;
        transition-duration: .2s;
        border-color: rgba($baseColor, .8);
        box-shadow: 0 0 0 0.3rem rgba(#000, .1);
    }

    &.search-button{
        background: $highlight;
        color:#fff;
        &:active{
            box-shadow: 0 0 0 0.3rem rgba($highlight,.25);
            color:#fff;
        }
    }

}
