@mixin screens($screenSize){
    @if $screenSize == 'xs' {
        @media (max-width: 576px) {
            @content;
        }
    }
    @if $screenSize == 'sm' {
        @media (max-width: 768px) {
            @content;
        }
    }
    @if $screenSize == 'md' {
        @media (max-width: 992px) {
            @content;
        }
    }
    @if $screenSize == 'lg' {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @if $screenSize == 'xl' {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

/*
    Layout Column Sizes
*/
@mixin columns($size){
    .#{$size}-12{
        width: 100%;
        flex: none;
    }
    .#{$size}-11{
        width: 91.66666667%;
        flex: none;
    }
    .#{$size}-10 {
        width: 83.33333333%;
        flex: none;
    }
    .#{$size}-9 {
        width: 75%;
        flex: none;
    }
    .#{$size}-8 {
        width: 66.66666667%;
        flex: none;
    }
    .#{$size}-7 {
        width: 58.33333333%;
        flex: none;
    }
    .#{$size}-6 {
        width: 50%;
        flex: none;
    }
    .#{$size}-5 {
        width: 41.66666667%;
        flex: none;
    }
    .#{$size}-4 {
        width: 33.33333333%;
        flex: none;
    }
    .#{$size}-3 {
        width: 25%;
        flex: none;
    }
    .#{$size}-2 {
        width: 16.66666667%;
        flex: none;
    }
    .#{$size}-1 {
        width: 8.33333333%;
        flex: none;
    }
    .#{$size}-auto {
        width: auto;
        flex: none;
    }
    .#{$size}-hide {
        display: none;
    }
}
