@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: $baseFontSize;
    font-weight: 300;
    height: 100%;
    background: #fff;
}
h1{

}
h2{
    color:#444;
    margin-bottom: .5rem;
}
h3{
    color:#666;
    margin-bottom: .5rem;
}
p{
    margin-bottom: .5rem;
}

.booj-books{
    max-width: 55rem;
    margin: 0 auto;
    padding:0 .5rem;
    height: 100%;


}
.content{
    padding-top: 1rem;
    background: #fff;
    min-height: 100px;
}
.header{
    background: #fff;
}
.footer{
    color: #747C92;
    padding: 1rem 0;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}

.logo{
    padding: .5rem;
    background: $highlight;
    display: block;
    color:#fff;
    text-decoration: none;
    &:hover{
        background: $highlight;
    }
    .name{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
    }
    .tagline{
        text-align: center;
        font-size: 14px;
    }
    @include screens('sm'){
        padding: 1rem .5rem;
        display: block;
        .name{
            font-size: 21px;
        }
        .tagline{
            font-size: 11px;
        }
    }
}

.default-link{
    color:#333;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    display: block;

    &:hover{
        color:$highlight;
        text-decoration: underline;
    }
}

.search-results {
    padding: 1rem;
    h2{
        margin-bottom: 2rem;
    }
    img{
        display: inline-block;
        max-height: 150px;
    }
}

.add-to-reading-list{
    button{
        background: $highlight;
        color:#fff;
        &.active{
            background: $secondary;
        }
    }
    @include screens('sm'){
        margin: 10px 0;
    }
}


.search-results .add-to-reading-list{
    button{
        display: block;
        width: 100%;
    }
}
.reading-list {
    padding: .5rem 0;
    .button{
        text-decoration: none;
        display: block;
        width: 100%;
        background: #5a00e2;
        color:#fff;
        &.router-link-active{
            background: #380090;
        }
        &:active{
            background: #380090;
            color:#fff;
        }
    }
}
.book-end{
    margin-bottom: 1rem;
}


.result-item{
    margin-bottom: 1rem
}
.sort-reorder{
    margin-bottom: 2rem;
}

.result-link{
    margin-bottom: 10px;
}

.search-form{
    padding: 1rem 0;
}


.book {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    img{
        max-height: 100px;
    }
}
.sortable-chosen{
    background: #fff;
}
.sortable-ghost{
    background: #efefef;
}

.book-list {
    .book-order{
        text-align: center;
        display: flex;
        padding: 15px;
        align-self: center;
        justify-self: center;
        justify-content: center;
        color:#666;
    }
    position: relative;
    &.handle{
        position: relative;
        margin-bottom: 1.25rem;
        border-bottom: dashed 2px #ccc;
        .book{
            margin: 0;
            border: none;
            img{
                max-height: 70px;
            }
            .reading-list-button{
                display: none;
            }
        }
        .re-order-icon{
            cursor: move;
            background: #efefef;
            text-align: center;
            padding: 15px 0 12px 0;
            svg{
                color: #666;
                height: 36px;
                width: 36px;
            }
        }
    }
}
.loading{
    text-align: center;
    padding: 2rem;
    color:#747C92;
}
.featured-book-container{
    margin-top: 1rem;
}
.featured-books{
    margin-bottom: 1rem;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .featured-book{
        background-color: #444;
        position: relative;
        max-height: 240px;
        overflow: hidden;
        .book-title{
            position: absolute;
            background: #47516a;
            color:#fff;
            left:0;
            bottom:0;
            font-size: 12px;
            padding:10px 5px;
            text-align: center;
            width: 100%;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &:hover{
            .book-title{
                background: $highlight;
            }
        }
    }
    @include screens('sm'){
        grid-template-columns: 1fr 1fr;
    }
}
