<template>

    <div class="home">

        <div class="featured-book-container" v-if="featured && featured.length > 0">
            <h1>Featured Books</h1>

            <div class="featured-books">
                <router-link :to="'/works/' + item.book.author_key" class="featured-book" :key="item.book.author_key" v-for="item in featured">
                    <div class="book-title">
                        {{item.book.title}}
                    </div>
                    <img :alt="item.book.title" :src="cover(item.book)" />
                </router-link>
            </div>

        </div>
        <div class="loading" v-else="">
            Loading Featured Books
        </div>

    </div>

</template>

<style type="text/css" lang="scss">
    .class {

    }
</style>

<script>
    export default {
        data() {
            return {
                name: 'default-view'
            }
        },
        computed: {
            featured() {
                return this.$store.getters.featured;
            }
        },
        mounted() {
            this.getRandomBooks();
        },
        methods: {
            cover(book){
                return (book.cover_edition_key) ? `https://covers.openlibrary.org/b/olid/${book.cover_edition_key}-M.jpg` : 'https://openlibrary.org/images/icons/avatar_book-sm.png';
            },
            getRandomBooks(){

                if(this.featured !== false){
                    return;
                }

                this.axios.get(process.env.VUE_APP_API_ENDPOINT + 'featured')
                    .then(response => {
                        this.$store.commit('featured', response.featured);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        },
        watch: {}
    }
</script>
