<template>

	<div class="reading-list" v-if="myReadingList && myReadingList.length > 0">

        <div class="sort-reorder">
            <div class="row">
                <div class="col col-6">
                    <button :class="{active: reOrder}" @click="toggleReorder" v-if="myReadingList.length > 1">
                        {{reOrder === true ? 'Disable' : 'Enable' }} Re-Order
                    </button>
                </div>
                <div class="col col-6 align-right">
                    <select :disabled="reOrder === true"  @change="setSort()" ref="selectSort">
                        <option :value="item.value" :selected="item.value === sort" :class="{'active': item.value === sort}" :key="'item-' + item.value" v-for="item in orderOptions">
                            {{item.text}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <draggable handle=".re-order-icon" v-model="myReadingList" group="people" @start="drag=true" @end="drag=false">
            <div class="book-list" :class="{'handle': reOrder}" :key="bookKey" v-for="(book, bookKey) in myReadingList">
                <book :reorder="reOrder" :item="book"></book>
            </div>
        </draggable>

	</div>
    <div class="loading" v-else="">
        Your Reading List Is Empty
    </div>

</template>

<script>
    import draggable from 'vuedraggable'
	import book from '@/components/book'
    export default {
        components: {
            book,
            draggable
        },
		data() {
			return {
                show: false,
				name: 'Reading List',
                sortBy: false,
                sort: false,
                reOrder: false,
                orderOptions:[
                    {value: 'orderAsc', text:'Order Asc'},
                    {value: 'orderDesc', text:'Order Desc'},
                    {value: 'titleAsc', text:'Title Asc'},
                    {value: 'titleDesc', text:'Title Desc'},
                    {value: 'authorAsc', text:'Author Asc'},
                    {value: 'authorDesc', text:'Author Desc'}
                ]
			}
		},
		computed: {
            myReadingList:{
                get(){
                    let readingList = this.$store.getters.readingList;
                    if(this.sort === 'orderAsc'){
                        return readingList;
                    } else if(this.sort === 'orderDesc'){
                        return [...readingList].reverse();
                    } else if(this.sort === 'titleAsc') {
                        return [...readingList].sort((a, b) => (a.book.title > b.book.title) ? 1 : -1)
                    } else if(this.sort === 'titleDesc') {
                        return [...readingList].sort((a, b) => (b.book.title > a.book.title) ? 1 : -1)
                    } else if(this.sort === 'authorAsc') {
                        return [...readingList].sort((a, b) => (a.book.author_name > b.book.author_name) ? 1 : -1)
                    } else if(this.sort === 'authorDesc') {
                        return [...readingList].sort((a, b) => (b.book.author_name > a.book.author_name) ? 1 : -1)
                    } else {
                        return readingList;
                    }
                },
                set(value){
                    this.$store.commit('readingList', [...value].map((item, index)=>{
                        item.order = index + 1;
                        return item;
                    }));
                    this.axios.patch(process.env.VUE_APP_API_ENDPOINT + 'booklist', {order: value})
                        .then()
                        .catch(err => {
                            console.log(err);
                        });
                }
            }
        },
		mounted() {
            this.sortBy = this.orderOptions[0];
		},
		methods: {
            toggleReorder(){
                this.reOrder = !this.reOrder;
                if(this.reOrder === true){
                    this.sort = this.orderOptions[0].value;
                }
            },
            imageCover(book){
                return (book.cover_edition_key) ? `https://covers.openlibrary.org/b/olid/${book.cover_edition_key}-M.jpg` : 'https://openlibrary.org/images/icons/avatar_book-sm.png';
            },
            setSort(){
                this.reOrder = false;
                this.sort = this.$refs['selectSort'].value;
            }
		},
		watch: {

        }
	}
</script>
