<template>

	<div class="search-results">

		<div v-if="searchResults && searchResults.docs && searchResults.docs.length > 0">

            <h2>
                Search Results For: {{searchTerm}}
            </h2>


            <div class="result-item" :key="book.key" v-for="book in searchResults.docs">

                <book :item="book"></book>

            </div>
        </div>
        <div class="loading" v-else-if="searchResults.notFound === true">
            No Search Results
        </div>

        <div class="row">
            <div class="col col-6">
                <button :disabled="disabled" @click="previousPage()" v-if="page > 1">
                    Previous Page
                </button>
            </div>

            <div class="col col-6 align-right">
                <button :disabled="disabled" @click="nextPage()" v-if="searchResults && searchResults.docs && searchResults.docs.length === perPage">
                    Next Page
                </button>
            </div>
        </div>

	</div>

</template>

<script>
    import book from '@/components/book';
	export default {
        components: {
            book
        },
		data() {
			return {
				name: 'search',
                query:'',
                perPage: 20,
                disabled: false,
                error: false,
			}
		},
		computed: {
            searchResults(){
                return this.$store.getters.searchResults;
            },
            searchTerm(){
                return this.$store.getters.searchTerm;
            },
            page:{
                get(){
                    return this.$store.getters.page;
                },
                set(value){
                    this.$store.commit('page',value);
                }
            }
        },
		mounted() {
            if(!this.searchTerm){
                this.query = this.$route.params.query;
                this.search();
            }
		},
		methods: {
            setBook(book){
                this.$store.commit('book',book);
            },
            imageCover(book){
                return (book.cover_edition_key) ? `https://covers.openlibrary.org/b/olid/${book.cover_edition_key}-M.jpg` : 'https://openlibrary.org/images/icons/avatar_book-sm.png';
            },
            nextPage(){
                this.page++;
                this.loadNextPage();
            },
            previousPage(){
                this.page--;
                this.loadNextPage();
            },
            loadNextPage(){
                this.disabled = true;
                let searchTerm = (this.searchTerm) ? this.searchTerm : this.query;
                const url = process.env.VUE_APP_API_ENDPOINT + 'search';
                const params = {
                    page: this.page,
                    limit: this.perPage,
                    q: searchTerm,
                };
                this.axios.post(url, params)
                    .then(response => {
                        this.disabled = false;
                        this.$store.commit('searchResults', response);
                        this.$store.commit('searchTerm', searchTerm);
                    })
                    .catch(err => {
                        this.disabled = false;
                        this.error = err;
                    });
            },
            search() {

                this.disabled = true;

                let searchTerm = (this.searchTerm) ? this.searchTerm : this.query;
                const url = process.env.VUE_APP_API_ENDPOINT + 'search';
                const params = {
                    page: this.page,
                    limit: this.perPage,
                    q: searchTerm,
                };

                this.axios.post(url, params)
                    .then(response => {
                        this.disabled = false;
                        this.$store.commit('searchResults', response);
                        this.$store.commit('searchTerm', searchTerm);
                        this.$store.commit('page',1);
                        this.query = '';
                    })
                    .catch(err => {
                        this.disabled = false;
                        this.error = err;
                    });
            }
        },
		watch: {}
	}
</script>
