<template>

    <book v-if="book" :item="book"></book>
    <div class="loading" v-else="">
        Loading Book Details
    </div>

</template>

<script>
    import book from '@/components/book';
	export default {
        components:{
            book
        },
		data() {
			return {
			}
		},
		computed: {
            book(){
                return this.$store.getters.book;
            }
        },
		mounted() {
            this.getBook();
		},
		methods: {
            getBook() {
                if(!this.$route.params.id){
                    return false;
                }

                this.$store.commit('book', false);
                this.axios.get(process.env.VUE_APP_API_ENDPOINT + 'book/' + this.$route.params.id)
                    .then(response => {
                        this.$store.commit('book', response.book);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        },
		watch: {}
	}
</script>
