<template>

	<div class="book">

        <div class="row">
            <div class="col col-3">
                <template v-if="reorder && reorder === true">
                    <div class="re-order-icon">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M16.2427 5.24264L14.8285 6.65685L13 4.82839L13.0001 9.24268H17.0001V11.2427H7.00012V9.24268H11.0001L11 4.82846L9.17161 6.65685L7.75739 5.24264L12 1L16.2427 5.24264Z"
                                fill="currentColor"
                            />
                            <path
                                d="M7 15.2527V13.2527H17V15.2527H13.0001L13 19.6669L14.8284 17.8385L16.2426 19.2527L12 23.4954L7.75732 19.2527L9.17154 17.8385L11 19.667V15.2527L7 15.2527Z"
                                fill="currentColor"
                            />
                        </svg>
                    </div>
                </template>
                <router-link v-else="" :to="'/works/' + item.book.author_key">
                    <img :alt="item.book.title" :src="imageCover">
                </router-link>
            </div>
            <div class="col col-9">

                <div class="row">
                    <div class="col col-sm-12 col-6">

                        <div class="default-link result-link"  v-if="reorder && reorder === true">
                            {{item.book.title}}
                        </div>
                        <router-link v-else="" class="default-link result-link" :to="'/works/' + item.book.author_key">
                            {{item.book.title}}
                        </router-link>

                        <p class="authors"><strong> Author: </strong><span> {{item.book.author_name}} </span></p>
                        <p class="authors"><strong> Published: </strong><span> {{item.book.publish_date}} </span></p>

                        <a v-if="showReadMore" :href="'https://openlibrary.org/books/' + item.book.author_key" target="_blank">
                            Read More @ Open Library
                        </a>

                    </div>
                    <div class="col col-sm-12 col-6">
                        <reading-list-button :item="item"></reading-list-button>
                    </div>
                </div>



            </div>
        </div>
	</div>

</template>

<script>
    import readingListButton from "@/components/reading-list-button";
	export default {
        props:['item','reorder'],
		components:{
            readingListButton
        },
		data() {
			return {
				name: 'book',
                showReadMore: false,
			}
		},
		computed: {
            bookObject(){
                return this.item.book.author_key ? this.item.book : false;
            },
            imageCover(){
                return (this.item.book.cover_edition_key) ? `https://covers.openlibrary.org/b/olid/${this.item.book.cover_edition_key}-M.jpg` : 'https://openlibrary.org/images/icons/avatar_book-sm.png';
            },
        },
		mounted() {
            this.showReadMore = !!(this.$route && this.$route.params && this.$route.params.id);
		},
		methods: {

		},
		watch: {}
	}
</script>
