<template>

	<router-link class="logo" to="/">
		<div class="name">
            {{name}}
        </div>
        <div class="tagline">
            {{tagline}}
        </div>
	</router-link>

</template>

<script>
	export default {
		data() {
			return {
				name: 'Booj Books',
                tagline: `A list of books you'd like to read`,
			}
		},
		computed: {},
		mounted() {

		},
		methods: {},
		watch: {}
	}
</script>
