<template>

	<div class="reading-list" v-if="myReadingList && myReadingList.length > 0">
		<router-link class="button" to="/reading-list">
            <span class="reading-count">{{myReadingList.length}}</span> Books | View
        </router-link>
	</div>

</template>

<script>
	export default {
		data() {
			return {
				name: 'reading-list'
			}
		},
		computed: {
            myReadingList() {
                return this.$store.getters.readingList;
            }
        },
		mounted() {

		},
		methods: {
            viewBooks() {
				return this.name;
			}
		},
		watch: {}
	}
</script>
