<template>

	<div class="reading-list-button add-to-reading-list">
        <button :disabled="disabled" @click="saveChange" :class="{active: item && item.order}">
            {{item && item.order ? 'Remove From Reading List': 'Add To Reading List'}}
        </button>
	</div>

</template>



<script>
	//	import example from '@/components/example.vue'
	export default {
		props:['item'],
		data() {
			return {
                disabled: false,
			}
		},
		computed: {

        },
		mounted() {
		},
		methods: {
            saveChange() {

                this.disabled = true;

				if(this.item && this.item.order){

                    this.axios.delete(process.env.VUE_APP_API_ENDPOINT + 'booklist/' + this.item.id )
                        .then(response => {
                            this.disabled = false;

                            this.$store.commit('removeFromReadingList', response);
                            this.$store.commit('removeFromSearchResults', response);
                            this.$store.commit('removeFromBook', {book:this.item.book});
                        })
                        .catch(err => {
                            this.disabled = false;
                            console.log(err);
                        });

                } else {

                    this.axios.post(process.env.VUE_APP_API_ENDPOINT + 'booklist', this.item.book)
                        .then(response => {
                            this.disabled = false;
                            this.$store.commit('addToReadingList', response);
                            this.$store.commit('updateSearchResults', response);
                            this.$store.commit('addToBook', response);
                        })
                        .catch(err => {
                            this.disabled = false;
                            console.log(err);
                        });


                }
			}
		},
		watch: {}
	}
</script>
