<template>

    <div class="search-form">
        <form @submit.prevent="search()">
            <div class="row">
                <div class="col  col-8">
                    <input placeholder="Search" aria-label="Search" id="query" ref="query" v-model="query" type="text">
                </div>
                <div class="col  col-4">
                    <button :disabled="disabled" class="block search-button" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                name: 'search-form',
                query:'',
                disabled: false,
                page: 1,
                perPage: 20,
            }
        },
        computed: {

        },
        methods: {
            search() {
                if(!this.query){
                    this.$refs['query'].focus();
                    return false;
                }
                this.disabled = true;

                const url = process.env.VUE_APP_API_ENDPOINT + 'search';
                const params = {
                    page: this.page,
                    limit: this.perPage,
                    q: this.query
                };

                this.axios.post(url, params)
                    .then(response => {
                        if(response && response.docs && response.docs.length > 0){
                            this.disabled = false;
                            this.$store.commit('searchResults', response);
                            this.$store.commit('searchTerm', this.query);
                            this.$store.commit('page',1);
                            if(this.$route.params.query !== this.query){
                                this.$router.push('/search/' + this.query);
                            }
                            this.query = '';
                        } else {
                            this.disabled = false;
                            response.notFound = true;
                            this.$store.commit('searchResults', response);
                            if(this.$route.params.query !== this.query){
                                this.$router.push('/search/' + this.query);
                            }
                        }
                    })
                    .catch(err => {
                        this.disabled = false;
                        this.error = err;
                    });
            }
        }
    }
</script>
